@charset "UTF-8";
$info-font-size: 14px;
$title-font-size: 16px;
$big-font-size: 24px;
$large-font-size: 28px;
$tips-font-size: 12px;
$active-color: #63c2a0;
$default1-color: #333333;
$default2-color: #666666;
$border-color: #d9d9d9;
